# Environment & Secrets
.env
.env.local
.env.*.local
*.env

# Dependencies & Build Outputs
node_modules
dist
dist-ssr
*.log
npm-debug.log*

# Capacitor & Android Build Files
android/app/build/
android/.gradle/
android/local.properties
*.apk
*.aab

# Convex & Editor Configs
.convex/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
